#posts {
  height: 100vh;
  background-image: url(https://cdn.pixabay.com/photo/2024/02/23/21/25/landscape-8592826_960_720.jpg);
  background-position: center;
  background-size: cover;
}
.center {
  align-items: center;
  display: flex;
  color: white;
  justify-content: center;
}
.rem{
  font-size: 3rem;
}
